@import url('https://fonts.googleapis.com/css?family=Abel');
.container{
  padding-top: 5%;
  padding-left: 10%;
}

@media only screen and (min-width: 992px){
  .container{
    display: grid;
    grid-template-areas: "l l l l"
                         "t t t w";
  }
  .tableTitle{
    grid-area: l;
  }
  .table{
    grid-area: t;
  }
  .wallet{
    grid-area: w;
  }
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
}
