$nav-font: 'ABeeZee', sans-serif;

.footer{
  height: 55px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: $nav-font;
  p{
    padding-left: 20px;
    padding-top: 10px;
    a{
      color: #A8FFD0;
      text-decoration: none;
    }
  }
}
