$positive-color:rgb(0, 224, 142);
$negative-color:rgba(227, 56, 56, 1);
//rgb(255, 40, 40);
// Palette Theme
$darkest-blue: #2D3B48;
$smoke: #485665;
$cream: #E8DFE4;
$dark-blue: #638091;
$turqoise: #41B4B7;
$light-green: #A8FFD0;
$grey: #8A9AAC;
$old-background: #edeff2;

.cell{
  text-align: center;
  margin-left: auto;
  padding-right: 15px;
}

.pct{
  display: flex;
  letter-spacing: 0.02rem;
  h4{
    padding-left: 5px;
  }
}

.positive {
  color: $positive-color;
}

.negative {
  color: $negative-color;
}
