.headerButton{
  width: 100%;
  height: 40px;
  border: 0.09rem solid #cacaca;
  font-size: 1.6rem;
  font-family: monospace;
  text-decoration: none;
  background-color: #d8d7d8;
  cursor: pointer;
}

th{
  margin: 5px;
  border-spacing: none;
  :hover{
    background-color: #dfdfdf;
    transition: linear 0.4s;
  }
}
