// Palette Theme
$darker-blue: #2D3B48;
$cream: #E8DFE4;
$dark-blue: #638091;
$turqoise: #41B4B7;
$grey: #8A9AAC;
$old-background: #edeff2;

.currency{
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
}

.currencyTable{
  border: 0.5px solid $dark-blue;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px $dark-blue;
}

@media only screen and (min-width: 992px){
  .currency{
    height: 100%;
    padding-top: 1.5rem;
  }
  
  .currencyTable{
    width: 90%;
    border: 0.5px solid $dark-blue;
    border-collapse: collapse;
    box-shadow: 0px 0px 2px $dark-blue;
  }
}