$positive-color: #55FFA0;
$coin-color: #000;
// Palette Theme
$darker-blue: #2D3B48;
$cream: #E8DFE4;
$dark-blue: #638091;
$turqoise: #41B4B7;
$grey: #8A9AAC;
$old-background: #edeff2;

td{
  border-left: 1px solid $darker-blue;
  border-top: 1px solid $darker-blue;
  background-color: $dark-blue;
  text-align: center;
  padding: 5px 2px 5px 0px;
  font-size: 0.9rem;
  font-family: monospace;
}

.coin{
  .label{
    color: $coin-color;
  }
  :hover{
    font-weight: 600;
  }
}

img{
  height: 20px;
  width: 20px;
  margin-right: 3px;
  margin-left: 10px;
}
.expanded{
  display: none;
}

@media only screen and (min-width: 992px){
  td{
    border-left: 1px solid $darker-blue;
    border-top: 1px solid $darker-blue;
    background-color: $dark-blue;
    text-align: center;
    padding: 8px 0 8px 0;
    font-size: 1.4rem;
    font-family: monospace;
  }
  
  .coin{
    display: flex;
    .label{
      color: $coin-color;
    }
    :hover{
      font-weight: 600;
    }
  }
  
  img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  compact{
    display: none;
  }
}