@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

$label-font: 'Abel',sans-serif;
$alt-font: 'ABeeZee', sans-serif;


// Palette Theme
$darkest-blue: #2D3B48;
$smoke: #485665;
$cream: #E8DFE4;
$dark-blue: #638091;
$turqoise: #41B4B7;
$light-green: #A8FFD0;
$grey: #8A9AAC;
$old-background: #edeff2;

.row{
  list-style: none;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $cream;
  font-family: $label-font;

  .label{
    padding-left: 10px;
    font-size: 1.3rem;
  }
  .amount{
    font-size: .8rem;
    font-family: $alt-font;
  }
  .worth{
    font-size: 1.1rem;
  }
  .profit{
    padding-right: 10px;
    font-size: 1.1rem;
  }
}
